*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/$CACHE_FILE$
/.idea/caches/build_file_checksums.ser
/app/src/androidTest/java/com/sayler/gina/ExampleInstrumentedTest.kt
/app/src/test/java/com/sayler/gina/ExampleUnitTest.kt
/.idea/jarRepositories.xml
